@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@model Mvc_Example.Models.Product

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

@*<form asp-action="CreateProduct" asp-controller="Product" method="post" >

    <input type= "text" name="Id" placeholder="Id"/>
    <br />
    <input type= "text" name="ProductName" placeholder="Product Name"/>
    <br />
     <input type= "text" name="Quantity" placeholder="Quantity"/>
    <br />
    <button>Ürün Ekle</button>


    Html Helper ile yapılması
    @Html.TextBoxFor(x => x.Id , "" , new { placeholder = "Id"})
    @Html.TextBoxFor(x => x.ProductName , "" , new { placeholder = "Product Name"})
    @Html.TextBoxFor(x => x.Quantity , "" , new { placeholder = "Quantity"})

    
</form>*@


@*Bu kısımda üsteki formda name verileri ile doğrudan Product nesnesi bind edilebilir ya da
bunun yerine asp-for dediğimiz tag helper parametresiyle bu işi yapabilriiz 
sadece asp-for parametresinde hangisi ile eşleşicek bunu sormalıyız *@


@*<form asp-action="CreateProduct" asp-controller="Product" method="post" >

    <input type= "text" asp-for="Id" placeholder="Id"/>
    <br />
    <input type= "text" asp-for="ProductName" placeholder="Product Name"/>
    <br />
     <input type= "text"asp-for="Quantity" placeholder="Quantity"/>
    <br />
    <button>Ürün Ekle</button>
</form>*@


@*JQuery ile bu konuda işlemleri oluşturma *@
@*<button id=" = "btnGonder">Gönder</button>

<script>
$("#btnGonder").click(() => {
    $.post("http://localhost:44363/product/GetProductValues", 
    {
        Id : 1
        ProductName:"Computer" ,
        Quantity: 10
    });
});
</script>*@




<form asp-action="GetValidation" asp-controller="Product" method="post" >

    <input type= "text" asp-for="Id" placeholder="Id"/>
    <span asp-validation-for="Id" ></span>
    <br />
    
    <input type= "text" asp-for="ProductName" placeholder="Product Name"/>
    <span asp-validation-for="ProductName" ></span>
    <br />

    <input type= "text" asp-for="ProductNumber" placeholder="Product Number"/>
    <span asp-validation-for="ProductNumber" ></span>
    <br />
     
    <input type= "number"asp-for="Quantity" placeholder="Quantity"/>
    <span asp-validation-for="Quantity" ></span>
    <br />
    
    <input type= "text" asp-for="MarketData.MarketEmail" placeholder="Market Email"/>
    <span asp-validation-for="MarketData.MarketEmail" ></span>
    <br />
    
   @* Daha instance oluşmadığı için devamlı hata vermekte sadece durumu gösterebilmek için bu kısmı yaptım*@ 
@*     <input type= "text" asp-for="ProductInfos[0].ProductDescription" placeholder="Product Description"/>
    <span asp-validation-for="ProductInfos[0].ProductDescription" ></span>
    <br />*@

    <input type= "checkbox" asp-for="IsFoodProduct" placeholder="Is Food Product"/>
    <span asp-validation-for="IsFoodProduct" ></span>
    <br />

    <input type= "number" asp-for="Price" placeholder="Price"/>
    <span asp-validation-for="Price" ></span>
    <br />

    
    <button>Ürün Ekle</button>
</form>

@*<div asp-validation-summary="All">

    Bu kısımda bu form için hata olarak tüm gerlen veriler bu kısma düşecektir 

</div>*@